<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{name}}</title>
  </head>
  <body>
    <h1>{{name}}</h1>

    {{#homepage}}
    <p>Homepage: <a href="{{{homepage}}}">{{homepage}}</a></p>
    {{/homepage}}

    {{#updated}}
    {{/updated}}
    
    <h2>Summary</h2>
    <p>{{summary}}</p>

    <h2>Commentary</h2>
    <pre>{{{commentary}}}</pre>
  </body>
</html>
