<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{name}}</title>
  </head>
  <body>
    <h1>{{name}}</h1>

    {{#homepage}}
    <p>Homepage: <a href="{{{homepage}}}">{{{homepage}}}</a></p>
    {{/homepage}}

    {{#updated}}
    <p>Updated: <time datetime="{{updated.iso}}">{{updated.readable}}</time></p>
    {{/updated}}
    
    <h2>Summary</h2>
    <p>{{summary}}</p>

    <h2>Commentary</h2>
    <pre>{{{commentary}}}</pre>

    {{#hasDependencies}}
    <h2>Dependencies</h2>
    <ul>
      {{#required}}
      <li><a href="../{{feature}}">{{feature}}</a></li>
      {{/required}}
    </ul>
    {{/hasDependencies}}

    {{#hasReverseDependencies}}
    <h2>Reverse dependencies</h2>
    <ul>
      {{#required_by}}
      <li><a href="../{{package}}">{{package}}</a></li>
      {{/required_by}}
    </ul>
    {{/hasReverseDependencies}}
  </body>
</html>
