body {
  font-family: system-ui, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  padding-top: 5px;
}

th, td {
  border: 1px solid #333;
}

tbody tr td:first-child {
  color: #2d48e0;
}

tbody tr td:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
